html,
body{
    height:100%;
    overflow:hidden;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0b1220;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    padding:20px;
}

header{
    text-align:center;
    margin-bottom:30px;
}

h1{
    font-size:3rem;
    margin-bottom:10px;
}

#currentDate{
    font-size:1.3rem;
    color:#9ca3af;
}

.dashboard{
    display:flex;
    gap:20px;
    height:calc(100vh - 140px);
}

.matches-panel{
    flex:7;
    overflow-y:auto;
}

#matches{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.standings-card{
    padding:10px;
}

.match-card{
    background:#111827;
    border-radius:16px;
    padding:30px;
    border:1px solid #1f2937;
}

.teams{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:2.3rem;
    font-weight:bold;
}

.score{
    font-size:2.5rem;
    color:#60a5fa;
}

.group{
    margin-top:15px;
    font-size:1.2rem;
    color:#d1d5db;
}

.kickoff{
    margin-top:8px;
    color:#93c5fd;
    font-size:1.1rem;
}

.status{
    margin-top:10px;
    font-size:1.4rem;
    color:#34d399;
}

.countdown{
    margin-top:10px;
    color:#fbbf24;
}

#standingsSection{
    margin-top:40px;
}

#standingsSection h2{
    font-size:2rem;
    margin-bottom:20px;
}

.standings-card{
    background:#111827;
    border-radius:16px;
    padding:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    padding:10px;
    text-align:center;
}

/* Team names + flags aligned left */
td:first-child,
th:first-child{
    text-align:left;
}

th{
    color:#60a5fa;
}

tr:nth-child(even){
    background:#1f2937;
}
